@charset "utf-8";

/* CSS Document */

#slideshow {
    margin: 0 auto;
    margin-bottom: 15px;
}

#main {
    margin: 0 100px;
    padding: 0;
}

ui-slider-line {
    height: 10px;
}

#slideshow img {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
}

#slideshow img.first {
    display: block
}

.blockOverlay {
    opacity: 0.9 !important;
}

.rslider {
    display: inline-block;
    margin-top: 0;
    margin-left: 20px;
}

form {
    background-color: transparent!important;
}

h1,
h2 {
    padding: 0!important;
}